/* styles:app/components/home.imba */
.cy-ai:not(#_):not(#_):not(#_) {
  width: 100%;
}
home-tag {
  display: block;
}
/* chunk:end */
/* styles:app/components/about.imba */
.cw-ag:not(#_):not(#_):not(#_) {
  max-width: 300px;
}
.cw-an:not(#_):not(#_):not(#_) {
  width: 100%;
}
about-tag {
  display: block;
}
/* chunk:end */
/* styles:app/components/projects.imba */
projects-tag {
  display: block;
}
/* chunk:end */
/* styles:app/components/illustrations.imba */
illustrations-tag {
  display: block;
}
/* chunk:end */
/* styles:app/components/goodbye.imba */
.cz-ag:not(#_):not(#_):not(#_) {
  text-align: left;
  width: 100%;
}
goodbye-tag {
  display: block;
}
/* chunk:end */
/* styles:app/components/magnify.imba */
.cu-af:not(#_):not(#_) {
  cursor: zoom-in;
}
.ref--container.cu_af:not(#_) {
  display: inline-block;
  transition: transform 700ms cubic-bezier(0.19, 1, 0.22, 1);
}
.bg.cu_af:not(#_) {
  transition: background 700ms;
}
.active.cu_af:not(#_) {
  background: #34286f;
  position: fixed;
  top: 0rem;
  left: 0rem;
  bottom: 0rem;
  right: 0rem;
}
magnify-tag {
  display: block;
}
/* chunk:end */
/* styles:app/components/styles.imba */
body {
  margin: 0rem;
  margin-top: 100px;
  color: #34286f;
}
.active.active {
  cursor: default;
  color: #d74d46;
}
.red-hover {
  cursor: pointer;
  transition: color 0.25s;
}
.red-hover:hover {
  color: #d74d46;
}
a {
  text-decoration: none;
  color: #34286f;
  transition: none 0.25s;
  transition-property:
    background-color,
    border-color,
    color,
    fill,
    stroke,
    opacity,
    box-shadow,
    transform;
}
li {
  list-style: none;
}
a:hover {
  color: #d74d46;
}
.link.link {
  color: #d74d46;
}
.link.link:hover {
  color: #5cffbe;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0rem 10%;
}
.right.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  order: 2;
}
.right h1 {
  color: inherit;
  font-size: 60px;
  margin-bottom: 0rem;
}
.tabs.tabs {
  font-size: 25px;
  margin-top: 0rem;
}
.left.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: italic;
  text-align: left;
}
ul {
  padding: 0rem;
  width: 100%;
}
.left.home.left {
  text-align: right;
}
.left img {
  width: 100%;
  height: auto;
}
.left.about img {
  max-width: 300px;
}
.left h3 {
  width: 100%;
}
.left.projects h3 {
  text-align: right;
}
.tabs.tabs {
  list-style: none;
  text-align: right;
}
.quote.quote {
  margin-top: 150px;
  font-size: 17px;
  font-style: italic;
}
.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  width: 100%;
}
.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0rem;
  position: absolute;
  top: 0rem;
  width: 100%;
}
@media (max-width: 926px) {
  body {
    margin: 0rem;
  }
}
@media (max-width: 926px) {
  body .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 926px) {
  body .left.left {
    order: 2;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 926px) {
  body .left.projects h3 {
    text-align: center;
  }
}
@media (max-width: 926px) {
  body .tabs.tabs {
    text-align: center;
    padding: 0rem;
    margin: 0rem;
  }
}
@media (max-width: 926px) {
  body .quote.quote {
    margin: 10px 0rem;
  }
}
@media (max-width: 926px) {
  body .right.right {
    order: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
/* chunk:end */
/* styles:app/client.imba */
.ci-aj:not(#_):not(#_):not(#_) {
  font-size: 25px;
}
@media (max-width: 926px) {
  .ci-aj:not(#_):not(#_):not(#_) {
    font-size: 22px;
  }
}
tab-ci-ak {
  display: block;
}
.ci-am:not(#_):not(#_):not(#_) {
  font-size: 60px;
}
@media (max-width: 926px) {
  .ci-am:not(#_):not(#_):not(#_) {
    font-size: 35px;
  }
}
app-tag {
  display: block;
}
/* chunk:end */